body {
    background: goldenrod;
	font-family: "Comic Sans MS", cursive, sans-serif;

}

input[type=submit] {
    padding:5px 15px; 
    background:green; 
    border:0 none;
    margin: 1px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=submit]:hover{
    background-color: blue;
    box-shadow: 3px 3px;

}