<!doctype html>
<html>
<head>
    <title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the home page!</h1>
    
    <hr>
    <form action="/add" method="get">
        <input type="submit" value="add new student">
    </form>
    {% for student in students %}
    <p>
	    Name: {{student.name}}<br>
	    Class: {{student.year}}<br>
    </p>
    <form action="{{url_for('display_student', student_id=student.student_id)}}" method="get">
        <input type="submit" value="go to {{student.name}} page">
    </form>
    {% endfor %}
</body>
</html>
